language: python

python:
  - 3.6

install:
  - pip install -r examples/pipeline/intermediate/requirements.txt
  - pip install -r requirements.txt
  - pip install .

script:
  - pytest

after_success: coveralls
