# pyarrow breaks with earlier versions (!)
# https://github.com/apache/arrow/issues/2468
numpy>=1.15.1

# testing
pytest>=3.5
# pytest-cov
# pytest-flake8

# sql module (SQLDump task)
# numpy
# pandas
# pyarrow


# documentation
sphinx

# for releases
twine

# examples
seaborn