autopep8==1.6.0
click==8.1.3
humanize==0.5.1
importlib-resources==5.7.1
ipdb==0.13.9
ipykernel==4.10.1
ipython==8.10.0
jinja2==3.0
jupyter-client==7.3.1
jupytext==1.13.8
MarkupSafe==2.0.1
mistune==2.0.3
nbconvert==6.5.1
nbformat==5.4.0
networkx==2.6.3
notebook==6.4.12
papermill==2.3.4
parso==0.8.3
ploomber-scaffold==0.3.1
posthog==1.4.8
pydantic==1.9.1
pyflakes==2.4.0
Pygments==2.7.4
PyYAML==5.4
SQLAlchemy==1.4.36
sqlparse==0.4.2
tabulate==0.8.9
tqdm==4.64.0
