# pyarrow breaks with earlier versions (!)
# https://github.com/apache/arrow/issues/2468
numpy>=1.16

# testing
pytest>=3.5
pytest-cov
coveralls
# pytest-flake8

# to convert notebooks and execute them as python scripts
nbformat
ipython

# to convert notebooks (to test them) in doc/
jupytext



# sql module (SQLDump task)
# numpy
# pandas
# pyarrow


# documentation
sphinx

# for releases
twine

# examples
seaborn