# pyarrow breaks with earlier versions (!)
# https://github.com/apache/arrow/issues/2468
numpy>=1.16

# testing
pytest>=3.5
# pytest-cov
# pytest-flake8

# to run notebooks
papermill

# to get everything required to correctly run notebooks using papermill (such as ipywidgets)
jupyter


# sql module (SQLDump task)
# numpy
# pandas
# pyarrow


# documentation
sphinx

# for releases
twine

# examples
seaborn