# needed for the examples
joblib
scikit-learn
seaborn
psycopg2
mistune<3
# for converting notebooks
nbsphinx
# https://github.com/spatialaudio/nbsphinx/issues/584
sphinx==7.1.2
# for plotting (disabled because it breaks if graphviz not installed)
# pygraphviz
# for running notebooks from the projects repo
papermill
jupytext
ipywidgets
sphinx-toolbox