# Run unit tests on any branch/fork pull request
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

name: Linux unit test

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up R
      uses: r-lib/actions/setup-r@v2

    - name: Config
      run: |
        conda create -q -n conda-env python=${{ matrix.python-version }}
        # for the tests that depend on git repos
        git config --global user.email "someone@example.com"
        git config --global user.name "Someone"
    - name: Install dependencies
      run: |
        eval "$(conda shell.bash hook)"
        conda activate conda-env
        # make the build fail quickly on flake8 errors
        pip install flake8
        flake8
        # for some reason, conda does not resolve the env correctly and
        # installs and old version of pygraphviz (1.3) which breaks in
        # Python 3.7
        # To support python 3.10, installing only for other versions.
        VERSION=$(python -c 'import sys; print(".".join(map(str, sys.version_info[1:2])))')
        if [ $VERSION!="10" ]; then
          echo "installing pygraphviz"
          conda install -y "pygraphviz>=1.6" -c conda-forge
        else
          echo "skipping pygraphviz installation"
        fi
        # Test vanilla installation, make sure core modules are importable
        pip install .
        python -c 'import ploomber'
        python -c 'import ploomber.tasks'
        python -c 'import ploomber.products'
        python -c 'import ploomber.clients'
        python -c 'import ploomber.io'
        # install dev requirements
        pip install .[dev]
        # install IR kernel
        echo "install.packages('IRkernel', repos='http://cran.us.r-project.org'); IRkernel::installspec()" | Rscript -
        # install sample package for tests
        pip install --editable tests/assets/test_pkg
    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PLOOMBER_CLOUD_KEY: ${{ secrets.PLOOMBER_CLOUD_KEY }}
        PLOOMBER_STATS_ENABLED: false
      run: |
        eval "$(conda shell.bash hook)"
        conda activate conda-env
        # doc tests
        export PY_IGNORE_IMPORTMISMATCH=1
        pytest src/ploomber --doctest-modules --ignore src/ploomber/resources
        unset PY_IGNORE_IMPORTMISMATCH
        # unit tests
        pytest tests --cov=ploomber --ignore=tests/cli/test_cloud_execution.py --ignore=tests/cli/test_cloud.py --ignore=tests/cloud --ignore=tests/telemetry

