name: CI Windows
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    # https://www.cybertec-postgresql.com/en/postgresql-github-actions-continuous-integration/
    - name: Start PostgreSQL
      run: |
        $pgService = Get-Service -Name postgresql*
        Set-Service -InputObject $pgService -Status running -StartupType automatic
        Start-Process -FilePath "$env:PGBIN\pg_isready" -Wait -PassThru
    - name: Change PostgreSQL password
      run: |
        & $env:PGBIN\psql --command  "ALTER USER postgres PASSWORD 'postgres'"
    - name: Check PostgreSQL authentication
      run: |
        $env:PGPASSWORD = 'postgres'
        & $env:PGBIN\pg_isready --dbname postgres --username postgres
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        activate-environment: conda-env
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      shell: bash -l {0}
      run: |

        eval "$(conda shell.bash hook)"
        conda activate conda-env

        # make the build fail quickly on flake8 errors
        pip install flake8
        flake8

        # there's a bug in jupyter, we need to install this first
        conda install pywin32

        # install graphviz (pygraphviz not available in conda for win-64,
        # it will be installed from pip)
        # conda install -y graphviz -c conda-forge
        # note: this installation still gives trouble (error when saving png
        # files but it makes pygraphviz importable), we can get rid of this
        # once we update the tests to mock the @requires decorator to make
        # it think that pygraphviz is installed when it's not. the tests
        # currently do not call pygraphviz (it's mocked), but @requires imports
        conda install -y -c alubbock pygraphviz 
        # seems like pygraphviz just doesnt work on windows
        # https://github.com/pygraphviz/pygraphviz/issues/40
        # pip install pygraphviz

        # Test vanilla installation, make sure core modules are importable
        pip install .
        python -c 'import ploomber'
        python -c 'import ploomber.tasks'
        python -c 'import ploomber.products'
        python -c 'import ploomber.clients'

        # install dev requirements
        pip install .[dev]

        # https://github.com/ipython/ipython/issues/12049
        pip install prompt-toolkit==2.0.10

        # install R and IR kernel
        conda install -y r-base r-irkernel -c conda-forge
        echo "IRkernel::installspec()" | Rscript -

        # install sample package for tests
        pip install --editable tests/assets/test_pkg

    - name: Run tests
      env:
        PLOOMBER_STATS_ENABLED: false
        PLOOMBER_CLOUD_KEY: ${{ secrets.PLOOMBER_CLOUD_KEY }}
      shell: bash -l {0}
      run: |
        eval "$(conda shell.bash hook)"
        conda activate conda-env
        pytest tests