name: CI Linux
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup
      run: |
        conda create -q -n conda-env python=${{ matrix.python-version }}

        # for the tests that depend on git repos
        git config --global user.email "someone@example.com"
        git config --global user.name "Someone"

    - name: Install dependencies
      run: |
        eval "$(conda shell.bash hook)"
        conda activate conda-env

        # for some reason, conda does not resolve the env correctly and
        # installs and old version of pygraphviz (1.3) which breaks in
        # Python 3.7
        conda install -y "pygraphviz>=1.6" -c conda-forge

        # Test vanilla installation, make sure core modules are importable
        pip install .
        python -c 'import ploomber'
        python -c 'import ploomber.tasks'
        python -c 'import ploomber.products'
        python -c 'import ploomber.clients'

        # install dev requirements
        pip install .[dev]

        # install R and IR kernel
        conda install -y r-base=4.0.3 r-irkernel -c conda-forge
        echo "IRkernel::installspec()" | Rscript -

        # install sample package for tests
        bash install_test_pkg.sh
    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        eval "$(conda shell.bash hook)"
        conda activate conda-env

        # this was used to debug a hanging test, it's fixed now but leaving
        # it temporarily in case some other intermitent bug shows up
        pip install pytest-timeout
        pytest --cov=ploomber --timeout=120

        coveralls
        flake8